# Python
*.pyc
*.mypy_cache*
.mypy*
venv

# Unit tests
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE
.idea
.vscode

# Logs
*.log

# Build
dist
*.egg-info

# Documentation outputs
doc/out.*
doc/bso.tex
